.divTableCell{
	display: table-cell;
	height: 5vh;
	width: 5vh;
	cursor: pointer;
	margin: 0.1vh;
}
.divTableRow{
	display: table-row;
	display: flex;
    margin-left: auto;
	margin-right: auto;
	justify-content: center;
}
.disabledCell{
	pointer-events: none;
}
.menu{
	display: flex;
	justify-content: center;
	padding-bottom: 1vh;
	margin-top: 2vh;
}
#musicIcon{
	height: 6vh;
	width: 6vh;
	cursor: pointer;
	float: top;
	clear: both;
	flex: 1;
}
.speaker{
	padding-left: 4vh;
}
#flagIcon{
	height: 6vh;
	width: 6vh;
	float: top;
	clear: both;
	flex: 1;
	margin-left: 4vh;
}
.flags{
	font-size: 3vh;
	font-family: OCR A Std, monospace;
	padding-top: 1.5vh;
}
#clockIcon{
	height: 6vh;
	width: 6vh;
	float: top;
	clear: both;
	flex: 1;
	margin-left: 4vh;
}
.clock{
	font-size: 3vh;
	font-family: OCR A Std, monospace;
	padding-top: 1.5vh;
}
.seconds{
	clear: both;
	font-size: 3vh;
	font-family: OCR A Std, monospace;
	padding-top: 1.5vh;
}
.restart{
	position: relative;
	background-color: #00b1ff;
	border: none;
	font-size: 3vh;
	color: #FFFFFF;
	width: 15vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	border-radius: 2vh;
	text-align: center;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}
.restart:hover{
	background-color: #0087d5;
}
.submenu{
	display: flex;
	justify-content: center;
	margin-top: 2vh;
	font-size: 2.3vh;
	font-family: OCR A Std, monospace;
}
.highscore{
	position: fixed;
	color: black;
	left: 0;
	padding-left: 3vw;
	font-size: 1.5vh;
	font-family: OCR A Std, monospace;
	width: 20vw;
}
/* Jesli width > height */
@media screen and (orientation:portrait) {
    .highscore{
		display: none;
	}
}
.numbersubmenu{
	font-size: 2vh;
}
.winmessage{
	text-align: center;
	font-size: 6vh;
	padding-top: 1vh;
	padding-bottom: 2vh;
	font-family: OCR A Std, monospace;
	color: #FFFFFF;
}
.losemessage{
	text-align: center;
	font-size: 6vh;
	padding-top: 1vh;
	padding-bottom: 2vh;
	font-family: OCR A Std, monospace;
	color: red;
}
footer {
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: OCR A Std, monospace;
	color: black;
	text-align: center;
	margin-top: 1vh;
}