.divTableCell{
	display: table-cell;
	height: 5vh;
	width: 5vh;
	cursor: pointer;
	margin: 0.1vh;
}
.divTableRow{
	display: table-row;
	display: flex;
    margin-left: auto;
	margin-right: auto;
	justify-content: center;
}
.disabledCell{
	pointer-events: none;
}
.menu{
	display: flex;
	justify-content: center;
	padding-bottom: 1vh;
	margin-top: 2vh;
}
#musicIcon{
	height: 7vh;
	width: 7vh;
	cursor: pointer;
	float: top;
	clear: both;
	flex: 1;
}
.speaker{
	padding-left: 27vh;
}
.restart{
	position: relative;
	background-color: #00b1ff;
	border: none;
	font-size: 4vh;
	color: #FFFFFF;
	width: 20vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	border-radius: 2vh;
	text-align: center;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}
.restart:hover{
	background-color: #0087d5;
}
.submenu{
	display: flex;
	justify-content: center;
	margin-top: 2vh;
	font-size: 2.5vh;
	font-family: OCR A Std, monospace;
}
.numbersubmenu{
	font-size: 2vh;
}
.winmessage{
	text-align: center;
	font-size: 7vh;
	padding-bottom: 2vh;
	font-family: OCR A Std, monospace;
	color: #FFFFFF;
}
.losemessage{
	text-align: center;
	font-size: 7vh;
	padding-bottom: 2vh;
	font-family: OCR A Std, monospace;
	color: red;
}



#alertBox{
	top: 100px;
	border: solid 2px black;
	background-color: rgb(247, 211, 92);
	padding: 30px;
	border-radius: 2vh;
	visibility: hidden;
	margin: auto;
	position: relative;
	width: 50vh;
	height: 35vh;
	text-align: center;
	font-size: 4vh;
	font-family: OCR A Std, monospace;
}
#alertBox p{
	margin-bottom: -1vh;
}
#alertConfirm{
	width: 20vh;
	height: auto;
	text-align: center; 
	cursor: pointer;
	margin: auto;
	font-size: 4vh;
	position: relative;
	background-color: #00b1ff;
	border: none;
	color: #FFFFFF;
	padding-top: 1vh;
	padding-bottom: 1vh;
	border-radius: 2vh;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin-top: 2vh;
}
#alertConfirm:hover{
	background-color: #0087d5;
}
#alertNumberId{
	font-size: 3vh;
}
#alertNumberId2{
	font-size: 3vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
}
