.divTable{
    display: table;
	width: 200%;
	z-index: 1;
}
.divTableCell{
	border: 1px solid #999999;
	display: table-cell;
	position: relative;
	height: 2vh;
	width: 2vh;
}
.divTableRow {
	display: table-row;
}
.divTableCellAbove{
	border: 1px solid #999999;
	display: table-cell;
	background-color: #888888;
	cursor: pointer;
	height: 2vh;
	width: 2vh;
	z-index: 2;
}
